.slider-products {
    margin: 0 auto;
    margin-top: 39px;
}

.slick-slide > div {
    margin: 0 2px;
}

.slick-list {
    margin: 0 -2px;
}

.footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    height: 30px;
    width: 100vw;
    flex-grow: 0;
    flex-shrink: 0;
  }
 
